.ui-state-error {
  background-color: #fcd5d4;
  border-color: #f69593;
  color: #813331;
}
.ui-state-highlight {
  background-color: #c6eafa;
  border-color: #70caf3;
  color: #155e7f;
}
.carousel {
  position: relative;
  max-width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel .carousel-clip {
  overflow: hidden;
  height: 100%;
}
.carousel .carousel-wrap {
  font-size: 0;
  min-width: 100%;
}
.carousel .carousel-wrap .carousel-item {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
}
.carousel:hover .carousel-btn {
  display: block;
}
.carousel .carousel-btn {
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 15;
  margin: auto;
  width: 3em;
  display: none;
  font-size: 18px;
}
.carousel .carousel-btn::before {
  font-family: flexkit-icons;
  font-size: 3em;
  line-height: 1;
  height: 1em;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.carousel .carousel-btn.prev {
  left: 0;
}
.carousel .carousel-btn.prev::before {
  content: "\e0a9";
}
.carousel .carousel-btn.next {
  right: 0;
}
.carousel .carousel-btn.next::before {
  content: "\e0a7";
}
.carousel .carousel-btn:hover {
  background: rgba(255, 255, 255, 0.9);
}
.smoke-base .smokebg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1000;
  background: rgba(255, 255, 255, 0.5);
}
.smoke-base.smoke-visible .dialog {
  background: inherit;
  border: inherit;
  box-shadow: 0 0 0 transparent;
}
.smoke-base .dialog {
  position: fixed;
  z-index: 1001;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
}
.smoke-base .dialog.primary .dialog-inner {
  color: #827e75;
  border-color: #f7f2e6;
  background-color: #fcfaf5;
}
.smoke-base .dialog.success .dialog-inner {
  color: #2a6a2c;
  border-color: #8ada8c;
  background-color: #d0f0d1;
}
.smoke-base .dialog.warning .dialog-inner {
  color: #886730;
  border-color: #ffd691;
  background-color: #ffefd3;
}
.smoke-base .dialog.error .dialog-inner {
  color: #813331;
  border-color: #f69593;
  background-color: #fcd5d4;
}
.smoke-base .dialog.info .dialog-inner {
  color: #155e7f;
  border-color: #70caf3;
  background-color: #c6eafa;
}
.smoke-base .dialog li {
  margin: 0;
  list-style: none;
}
.smoke-base .dialog li + li {
  margin-top: 0.5em;
}
.smoke-base .dialog-inner {
  overflow: auto;
  margin-top: 15%;
  max-width: 960px;
  max-height: 70%;
  font-size: 1.25em;
  padding: 1em 2em;
  border: 1px solid #888888;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  box-shadow: 3px 3px 25px rgba(0, 0, 0, 0.25);
}
.smoke-base .dialog-buttons {
  margin-top: 1em;
}
.smoke-base .dialog-buttons button {
  font-size: 12px;
  color: #FFF;
  border-color: #189b1a;
  background-color: #4fc752;
}
.smoke-base .dialog-buttons button:hover,
.smoke-base .dialog-buttons button:active,
.smoke-base .dialog-buttons button.active {
  color: #FFF;
  border-color: #126f13;
  background-color: #37ac3a;
}
.smoke-base .dialog-buttons button.cancel {
  margin-right: 0.5em;
  color: #FFF;
  border-color: #e62321;
  background-color: #f25f5c;
}
.smoke-base .dialog-buttons button.cancel:hover,
.smoke-base .dialog-buttons button.cancel:active,
.smoke-base .dialog-buttons button.cancel.active {
  color: #FFF;
  border-color: #be1816;
  background-color: #ee312d;
}
.tooltip {
  cursor: help;
}
a.tooltip {
  cursor: pointer;
}
.paginator {
  width: 100%;
  padding-top: 2rem;
  border-top: 1px solid #bbbbbb;
  font-size: 0;
}
.paginator > * {
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
}
.paginator :first-child,
.paginator :last-child {
  font-weight: normal;
}
.paginator .disabled,
.paginator .current,
.paginator a,
.paginator .paginations {
  margin: 0 0.25rem 0.25rem 0;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.3em;
  padding: 0 1em;
  font-family: 'Mulish', Helvetica, "Helvetica Neue", Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: #494546;
  border-color: #000;
  background-color: #f3ebda;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  transition: background 0.3s;
}
.paginator .disabled:hover,
.paginator .current:hover,
.paginator a:hover,
.paginator .paginations:hover,
.paginator .disabled:active,
.paginator .current:active,
.paginator a:active,
.paginator .paginations:active,
.paginator .disabled.active,
.paginator .current.active,
.paginator a.active,
.paginator .paginations.active {
  color: #494546;
  border-color: #000000;
  background-color: #e7d6b3;
}
.paginator .disabled {
  pointer-events: none;
  border-color: #d5d5d5;
  background: #eeeeee;
  color: #a2a2a2;
}
.paginator .current {
  pointer-events: none;
  background-color: #ffffff;
  border-color: #ffffff;
}
.paginator_off .paginator {
  display: none;
}
.chosen-select {
  width: 100%;
}
.chosen-select-deselect {
  width: 100%;
}
.dataTables_wrapper {
  width: 100%;
}
.dataTables_wrapper .dataTables_filter {
  padding: 5px;
  text-align: right;
  font-size: 0.85em;
}
.dataTables_wrapper .dataTables_filter label input {
  margin-left: 5px;
  width: 250px;
}
.dataTables_wrapper .sorting,
.dataTables_wrapper .sorting_asc,
.dataTables_wrapper .sorting_desc {
  cursor: pointer;
  position: relative;
  padding-right: 16px;
  border-left: 1px solid #dddddd;
}
.dataTables_wrapper .sorting::after,
.dataTables_wrapper .sorting_asc::after,
.dataTables_wrapper .sorting_desc::after {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e0b6";
  font-size: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}
.dataTables_wrapper .sorting_asc::after {
  content: "\e0b5";
}
.dataTables_wrapper .sorting_desc::after {
  content: "\e0b2";
}
.dataTables_wrapper .dataTables_empty {
  text-align: center;
}
.dataTables_paginate {
  margin-top: 1em;
  float: right;
  font-size: 12px;
}
.dataTables_paginate .paginate_button {
  background: #eeeeee;
  margin: 0 0.25em;
  padding: 0.25em 0.75em;
  min-width: 2em;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  color: #222222;
}
.dataTables_paginate .paginate_button:hover {
  background: #e7e7e7;
}
.dataTables_paginate .paginate_button.disabled,
.dataTables_paginate .paginate_button.current {
  cursor: default;
  color: #e2e2e2;
  background: #f6f6f6;
}
.dataTables_paginate .paginate_button.current {
  font-weight: bold;
  background: #fbf6ed;
  color: #fff;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.last::before,
.dataTables_paginate .paginate_button.previous::before,
.dataTables_paginate .paginate_button.next::before,
.dataTables_paginate .paginate_button.first::after,
.dataTables_paginate .paginate_button.last::after,
.dataTables_paginate .paginate_button.previous::after,
.dataTables_paginate .paginate_button.next::after {
  font-family: flexkit-icons;
  speak: none;
  font-style: normal;
  font-weight: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dataTables_paginate .paginate_button.first,
.dataTables_paginate .paginate_button.last {
  font-weight: bold;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.last::before,
.dataTables_paginate .paginate_button.first::after,
.dataTables_paginate .paginate_button.last::after {
  font-size: 15px;
  font-weight: bold;
}
.dataTables_paginate .paginate_button.first::before,
.dataTables_paginate .paginate_button.previous::before {
  content: "\e0b1";
}
.dataTables_paginate .paginate_button.last::after,
.dataTables_paginate .paginate_button.next::after {
  content: "\e0af";
}
.responsive-ratio {
  position: relative;
  overflow: hidden;
  padding: 0;
  display: block;
  height: auto !important;
}
.responsive-ratio::before {
  display: block;
  content: " ";
}
._16x9.responsive-ratio::before {
  padding-bottom: 56.25%;
}
._9x16.responsive-ratio::before {
  padding-bottom: 177.77777778%;
}
._4x3.responsive-ratio::before {
  padding-bottom: 75%;
}
._3x4.responsive-ratio::before {
  padding-bottom: 133.33333333%;
}
._1x1.responsive-ratio::before {
  padding-bottom: 100%;
}
.responsive-ratio iframe,
.responsive-ratio object,
.responsive-ratio embed,
.responsive-ratio video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.responsive-ratio > img,
.responsive-ratio ._lbox img,
.responsive-ratio .gall img {
  position: absolute !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  min-height: 100% !important;
  min-width: 100% !important;
  width: auto;
  height: auto;
}
._9x16.responsive-ratio > img,
._3x4.responsive-ratio > img,
._1x1.responsive-ratio > img {
  max-width: none;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}
.responsive-ratio.bottom > img,
.responsive-ratio.bottom ._lbox img,
.responsive-ratio.bottom .gall img {
  min-height: 0 !important;
  top: auto;
}
.responsive-ratio.top > img,
.responsive-ratio.top ._lbox img,
.responsive-ratio.top .gall img {
  min-height: 0 !important;
  bottom: auto;
}
