.listpages,
.listcategories,
.featureditem,
.relatedpages,
.related-products {
  font-size: 0;
}
.listpages li,
.listcategories li,
.featureditem li,
.relatedpages li,
.related-products li {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
}
@media only screen and (min-width: 1025px) {
  .main_menu {
    margin-bottom: 25px;
    font-size: 0;
    position: relative;
    z-index: 11;
    color: #4c4849;
  }
  .main_menu > * {
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
  }
  .main_menu > li {
    position: relative;
    padding: 8px 12px;
    margin: 0 12px 12px;
  }
  .main_menu > li > a {
    transition: all 0.3s;
  }
  .main_menu > li:hover ul {
    display: block;
  }
  .main_menu > li:hover > a {
    text-shadow: 0 0 0 #555555, 0 0 0 #555555, 0 0 0 #555555, 1px 1px 0 #555555;
  }
  .main_menu a {
    display: block;
    text-decoration: none;
    font-family: 'Arima Madurai', cursive;
    font-size: 20px;
    color: inherit;
  }
  .main_menu a.current {
    text-shadow: 0 0 0 #555555, 0 0 0 #555555, 0 0 0 #555555, 1px 1px 0 #555555;
  }
  .main_menu ul {
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 0;
    display: none;
    width: 300px;
    background: #FFF;
    color: #888888;
    box-shadow: 0 3px 5px #555555;
  }
  .main_menu ul.open {
    display: block !important;
  }
  .main_menu ul li {
    float: none;
  }
  .main_menu ul li:hover,
  .main_menu ul li a.current {
    background: #eeeeee;
  }
}
header .main_menu > li > a {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
header .main_menu > li > a.current {
  border-top-color: #333;
  border-bottom-color: #333;
}
header .main_menu > li:hover > a {
  border-top-color: #333;
  border-bottom-color: #333;
}
.static_menu {
  overflow: hidden;
}
.static_menu li {
  float: left;
  padding: 0 8px;
}
.static_menu li + li {
  border-left: 1px solid #888888;
}
.featureapage,
.featureditem li,
.relatedpages li {
  margin-bottom: 30px;
  margin-left: 2%;
  margin-right: 0;
  width: 32%;
}
.featureapage:nth-of-type(3n + 1),
.featureditem li:nth-of-type(3n + 1),
.relatedpages li:nth-of-type(3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 49%;
  }
  .featureapage:nth-of-type(n),
  .featureditem li:nth-of-type(n),
  .relatedpages li:nth-of-type(n) {
    margin-left: 2%;
  }
  .featureapage:nth-of-type(2n + 1),
  .featureditem li:nth-of-type(2n + 1),
  .relatedpages li:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 800px) {
  .featureapage,
  .featureditem li,
  .relatedpages li {
    width: 100%;
  }
  .featureapage:nth-of-type(1n + 1),
  .featureditem li:nth-of-type(1n + 1),
  .relatedpages li:nth-of-type(1n + 1) {
    margin-left: 0;
  }
}
.featureapage .page-teaser-image,
.featureditem li .page-teaser-image,
.relatedpages li .page-teaser-image {
  overflow: hidden;
  margin-bottom: 0.5em;
}
.featureapage {
  float: left;
}
.listpages li,
.listcategories li {
  margin-bottom: 30px;
}
.listpages .page-teaser-image,
.listcategories .page-teaser-image {
  float: left;
  margin-right: 3%;
  width: 150px;
  overflow: hidden;
}
aside .listpages li,
aside .listcategories li,
aside .featureditem li,
aside .featureapage,
aside .relatedpages li {
  width: 100%;
  margin: 0 0 2em;
}
aside .listpages li .page-teaser-image,
aside .listcategories li .page-teaser-image,
aside .featureditem li .page-teaser-image,
aside .featureapage .page-teaser-image,
aside .relatedpages li .page-teaser-image {
  width: 100%;
  float: none;
  margin: 0 0 0.5em;
}
aside .listpages li span,
aside .listcategories li span,
aside .featureditem li span,
aside .featureapage span,
aside .relatedpages li span,
aside .listpages li p,
aside .listcategories li p,
aside .featureditem li p,
aside .featureapage p,
aside .relatedpages li p {
  font-size: 0.85em;
  line-height: 1.25;
}
.news {
  padding: 0;
  margin: 0;
  font-size: 0;
}
.news > * {
  font-size: 1rem;
  display: inline-block;
  vertical-align: top;
}
.news > .tpopup {
  display: none;
}
.news__header {
  position: relative;
}
.news__title {
  margin-bottom: 0.5rem;
}
.news__item {
  position: relative;
  vertical-align: top;
  margin-bottom: 1.875rem;
}
.news__item_popular {
  border: 1px solid #bbbbbb;
  border-radius: 0;
}
.news-item_3-in-row {
  margin-left: 2%;
  margin-right: 0;
  width: 32%;
}
.news-item_3-in-row:nth-of-type(3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .news-item_3-in-row {
    width: 49%;
  }
  .news-item_3-in-row:nth-of-type(n) {
    margin-left: 2%;
  }
  .news-item_3-in-row:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 800px) {
  .news-item_3-in-row {
    width: 49%;
  }
  .news-item_3-in-row:nth-of-type(n) {
    margin-left: 2%;
  }
  .news-item_3-in-row:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
.news__content {
  border: 1px solid #bbbbbb;
  border-radius: 0 0 0 0;
  padding: 30px;
}
.news__content_popular {
  border: none;
  border-radius: 0;
}
.news__date {
  display: block;
  margin-bottom: 0.5rem;
  color: #222222;
}
.news__date::before {
  margin-top: -4px;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin-right: 5px;
}
.news__description {
  margin-bottom: 1rem;
}
.news__tags {
  position: relative;
  font-size: 0;
  z-index: 1;
}
.news__tags > * {
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
}
.news__tags_absolute {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  margin-right: -4px;
}
.newslog-tag-filter {
  color: #000;
  background-color: #f9fbfd;
  padding: 0.25rem 0.35rem;
  border-radius: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  line-height: 1.2;
  font-size: 12px;
  transition: all 0.3s;
}
.newslog-tag-filter:hover {
  background: #f3ebda;
}
.search-results li {
  overflow: hidden;
  padding-left: 180px;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #bbbbbb;
}
.search-results .page-teaser-image {
  float: left;
  width: 150px;
  margin-left: -180px;
}
.search-results .page-teaser-image img {
  border-radius: 4px;
}
.search-results .page-title {
  font-size: 1.3125rem;
  font-weight: 700;
  color: #222222;
  margin-bottom: 1rem;
}
@media (min-width: 1025px) {
  body .mobile-bar,
  body .mobile-menu,
  body .m-menu,
  body .m-menu.open {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    padding-top: 56px;
  }
  body[data-menu-open],
  body[data-overlay],
  body[data-dropdown-open] {
    overflow: hidden;
  }
  body[data-menu-open]::after,
  body[data-overlay]::after,
  body[data-dropdown-open]::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 91;
  }
  [data-menu-open]::after,
  [data-overlay]::after {
    background: rgba(0, 0, 0, 0.5);
  }
}
.mobile-bar {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 90;
  font-family: "Roboto", Tahoma, Arial;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.mobile-bar::after {
  content: "";
  display: table;
  clear: both;
}
.mobile-bar.top {
  top: 0;
  line-height: 56px;
  color: #000;
  background: #f3ebda;
}
.mobile-bar.top .btn.icon {
  width: 56px;
}
@media only print {
  .mobile-bar {
    display: none;
  }
}
.mobile-bar .title {
  font-size: 20px;
  padding: 0 calc(72px -  56px );
  margin-right: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 50%;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.mobile-bar .btn {
  line-height: inherit;
  width: 56px;
  color: inherit;
  border: none;
  -webkit-box-flex: 0 0 56px;
  -webkit-flex: 0 0 56px 1 auto;
  -ms-flex: 0 0 56px 1 auto;
  flex: 0 0 56px 1 auto;
}
.mobile-bar .btn::before {
  margin: initial;
  font-size: 18px;
}
.tabs {
  display: none;
}
.menu-btn:hover,
.menu-btn.active {
  background: rgba(0, 0, 0, 0.1);
}
.sub-menu-btn {
  width: 48px;
  text-align: center;
  color: #FFF;
  font-size: 1.25em;
  position: absolute;
  right: 0;
  top: 0;
}
.sub-menu-btn::before {
  content: "\e0ac";
  font-family: flexkit-icons;
  color: #bbbbbb;
}
.sub-menu-btn:hover::before,
.sub-menu-btn.active::before {
  content: "\e0aa";
}
@media only screen and (max-width: 1024px) {
  .mobile-menu {
    z-index: 92;
    transition: all 0.3s;
  }
  .mobile-menu.top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  .mobile-menu.bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  .mobile-menu.left {
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .mobile-menu.right {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }
  [data-menu-open] .mobile-menu {
    box-shadow: 0 0 30px #555555;
  }
  [data-menu-open="left"] .mobile-menu.left,
  [data-menu-open="right"] .mobile-menu.right {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  [data-menu-open="top"] .mobile-menu.top,
  [data-menu-open="bottom"] .mobile-menu.bottom {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .menu-btn.active {
    background: rgba(0, 0, 0, 0.05);
  }
  .menu-btn::before {
    width: 16px;
  }
  .menu-btn.left {
    padding-left: 0;
  }
  .menu-btn.left.active::before {
    margin-left: -11.2px;
    margin-right: 16.8px;
  }
  .menu-btn.right {
    padding-right: 0;
  }
  .menu-btn.right.active::before {
    margin-right: -11.2px;
    margin-left: 16.8px;
  }
}
.m-menu {
  width: 260px;
  position: fixed;
  z-index: 92;
  overflow: auto;
  background: #ffffff;
  display: none;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.m-menu:not(.dropdown) {
  top: 0;
  bottom: 0;
}
.m-menu:not(.dropdown).left {
  left: 0;
}
.m-menu:not(.dropdown).right {
  right: 0;
}
.m-menu.dropdown {
  width: 250px;
  overflow: auto;
  max-height: 70%;
}
.m-menu.dropdown.top {
  top: 10px;
  bottom: auto;
}
.m-menu.dropdown.bottom {
  bottom: 10px;
  top: auto;
}
.m-menu.dropdown.right {
  right: 10px;
  left: auto;
}
.m-menu.dropdown.left {
  left: 10px;
  right: auto;
}
.m-menu.open {
  display: block;
}
.m-menu .menu-top-header {
  height: 56px;
  border-bottom: 1px solid #f2f2f2;
}
.m-menu ul,
.dropdown-menu ul,
.mobile-menu.dropdown ul {
  position: relative;
}
.m-menu ul ul,
.dropdown-menu ul ul,
.mobile-menu.dropdown ul ul {
  display: none;
  background: rgba(0, 0, 0, 0.03);
}
.m-menu ul ul a,
.dropdown-menu ul ul a,
.mobile-menu.dropdown ul ul a {
  padding-left: 48px;
}
.m-menu ul.open,
.dropdown-menu ul.open,
.mobile-menu.dropdown ul.open {
  display: block !important;
}
.m-menu li,
.dropdown-menu li,
.mobile-menu.dropdown li {
  float: none;
  border-bottom: 1px solid #f7f7f7;
  line-height: 48px;
  font-weight: bold;
  position: relative;
}
.m-menu li a,
.dropdown-menu li a,
.mobile-menu.dropdown li a {
  padding: 0 16px 0 28px;
  display: block;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.m-menu li a:hover,
.m-menu li a.current,
.dropdown-menu li a:hover,
.dropdown-menu li a.current,
.mobile-menu.dropdown li a:hover,
.mobile-menu.dropdown li a.current {
  background: #f2f2f2;
  color: #000;
}
.m-menu li:hover ul,
.dropdown-menu li:hover ul,
.mobile-menu.dropdown li:hover ul {
  display: none;
}
.m-menu li li,
.dropdown-menu li li,
.mobile-menu.dropdown li li {
  border: none;
}
.m-menu li li + li,
.dropdown-menu li li + li,
.mobile-menu.dropdown li li + li {
  border-top: 1px solid #f2f2f2;
}
@media only screen and (max-width: 1024px) {
  .dropdown-menu-mobile {
    display: none;
  }
}
.dropdown-menu,
.mobile-menu.dropdown,
[data-dropdown-open] .dropdown-menu-mobile {
  background: #fff !important;
  color: #555555 !important;
  position: absolute;
  z-index: 92 !important;
  width: 250px;
  display: none;
  margin: 0 !important;
  overflow: auto;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}
.dropdown-menu.open,
.mobile-menu.dropdown.open {
  display: block;
}
.dropdown-menu.top-right,
.mobile-menu.dropdown.top-right,
.dropdown-menu.bottom-right,
.mobile-menu.dropdown.bottom-right {
  right: 0;
  left: auto;
}
.dropdown-menu.top-left,
.mobile-menu.dropdown.top-left,
.dropdown-menu.bottom-left,
.mobile-menu.dropdown.bottom-left {
  left: 0;
  right: auto;
}
.dropdown-menu.top,
.mobile-menu.dropdown.top,
.dropdown-menu.top-left,
.mobile-menu.dropdown.top-left,
.dropdown-menu.top-right,
.mobile-menu.dropdown.top-right {
  top: auto;
  bottom: 100%;
}
.dropdown-menu.top.inner,
.mobile-menu.dropdown.top.inner,
.dropdown-menu.top-left.inner,
.mobile-menu.dropdown.top-left.inner,
.dropdown-menu.top-right.inner,
.mobile-menu.dropdown.top-right.inner {
  top: 0;
  bottom: auto;
}
.dropdown-menu.bottom,
.mobile-menu.dropdown.bottom,
.dropdown-menu.bottom-left,
.mobile-menu.dropdown.bottom-left,
.dropdown-menu.bottom-right,
.mobile-menu.dropdown.bottom-right {
  top: 100%;
  bottom: auto;
}
.dropdown-menu.bottom.inner,
.mobile-menu.dropdown.bottom.inner,
.dropdown-menu.bottom-left.inner,
.mobile-menu.dropdown.bottom-left.inner,
.dropdown-menu.bottom-right.inner,
.mobile-menu.dropdown.bottom-right.inner {
  top: auto;
  bottom: 0;
}
.dropdown-menu.left-top,
.mobile-menu.dropdown.left-top,
.dropdown-menu.right-top,
.mobile-menu.dropdown.right-top {
  top: 0;
  bottom: auto;
}
.dropdown-menu.left-bottom,
.mobile-menu.dropdown.left-bottom,
.dropdown-menu.right-bottom,
.mobile-menu.dropdown.right-bottom {
  top: auto;
  bottom: 0;
}
.dropdown-menu.left,
.mobile-menu.dropdown.left,
.dropdown-menu.left-top,
.mobile-menu.dropdown.left-top,
.dropdown-menu.left-bottom,
.mobile-menu.dropdown.left-bottom {
  left: auto;
  right: 100%;
}
.dropdown-menu.left.inner,
.mobile-menu.dropdown.left.inner,
.dropdown-menu.left-top.inner,
.mobile-menu.dropdown.left-top.inner,
.dropdown-menu.left-bottom.inner,
.mobile-menu.dropdown.left-bottom.inner {
  left: 0;
  right: auto;
}
.dropdown-menu.right,
.mobile-menu.dropdown.right,
.dropdown-menu.right-top,
.mobile-menu.dropdown.right-top,
.dropdown-menu.right-bottom,
.mobile-menu.dropdown.right-bottom {
  left: 100%;
  right: auto;
}
.dropdown-menu.right.inner,
.mobile-menu.dropdown.right.inner,
.dropdown-menu.right-top.inner,
.mobile-menu.dropdown.right-top.inner,
.dropdown-menu.right-bottom.inner,
.mobile-menu.dropdown.right-bottom.inner {
  right: 0;
  left: auto;
}
[data-dropdown-open] .dropdown-menu-mobile {
  position: fixed;
  max-width: 90%;
  max-height: 70%;
}
[data-dropdown-open] .dropdown-menu-mobile.open {
  display: block;
}
[data-dropdown-open] .dropdown-menu-mobile.centered {
  top: 50%;
  left: 0;
  right: 0;
  margin: auto !important;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
[data-dropdown-open] .dropdown-menu-mobile.center {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto !important;
}
[data-dropdown-open] .dropdown-menu-mobile.top {
  top: 10px;
  bottom: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.bottom {
  bottom: 10px;
  top: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.right {
  right: 10px;
  left: auto;
}
[data-dropdown-open] .dropdown-menu-mobile.left {
  left: 10px;
  right: auto;
}
