.full-width {
  width: 100%;
  overflow: hidden;
}
header {
  position: relative;
  color: #555555;
  background-color: #f1ebe0;
  background-image: url("../images/bg-gray.jpg");
  background-size: cover;
  background-repeat: repeat;
}
.logo {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  line-height: 1;
  width: 22%;
}
.logo__link {
  display: block;
}
/* Company logo */
.company-logo {
  padding-top: 3.125rem;
}
.company-logo a {
  display: block;
}
.bg-gray {
  background-color: #f5f5f5;
  background-image: url("../images/bg-gray.jpg");
}
.bg-gray a {
  color: #444;
  font-size: 1.25rem;
}
.first {
  font-size: 7em;
  font-size: 7vw;
  line-height: 1;
}
aside .aside-box {
  margin-bottom: 1.875rem;
}
.bg-footer {
  background: #f1ebe0 url("../images/footer-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
}
footer {
  padding: 24px 0;
  background: transparent;
  color: #555555;
  font-size: 0.85em;
}
footer .main_menu li {
  width: 100%;
  float: none;
}
footer .main_menu li a {
  font-size: 1.125rem;
}
footer .main_menu li a.current {
  border: none;
}
footer .main_menu li:hover a {
  border: none;
}
#go-top {
  color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
#go-top:hover,
#go-top:active,
#go-top.active {
  color: #FFF;
  border-color: #f3ebda;
  background-color: #f3ebda;
}
.webPage-go-top {
  color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
}
.webPage-go-top:hover,
.webPage-go-top:active,
.webPage-go-top.active {
  color: #FFF;
  border-color: #f3ebda;
  background-color: #f3ebda;
}
.social-links_top {
  margin-top: 0.625rem;
  margin-bottom: 0;
}
.social-links_mobile a.btn.icon {
  padding: 0 1rem;
  text-align: left;
  font-size: 1.125rem;
  font-weight: 700;
  display: block;
  width: 100%;
  border-bottom: 1px solid #f7f7f7;
}
.social-links_mobile a.btn.icon[href=""] {
  display: none;
}
.social-links_mobile a.btn.icon::before {
  margin-right: 1rem;
  width: auto;
  font-size: 1.125rem;
}
.no-image > img {
  display: none;
}
.section {
  padding: 1.5625rem 0;
}
.section__title {
  color: #494546;
  font-weight: bold;
  margin-bottom: 1.875rem;
}
.section__title_white {
  color: #FFF !important;
  text-shadow: 1px 1px 1px #242323;
}
.section_top {
  padding: 9.375rem 0;
  background-color: #ddd;
}
.section_description {
  padding: 3.125rem 0 2.1875rem;
  background-image: url(../images/bg-gray.jpg);
  background-color: #fafafa;
}
.section_description p + p {
  margin-top: 1.875rem;
}
.section__header_bg {
  padding: 1.625rem 0;
  background: url(../images/bg-gray.jpg);
}
.section__header_bg .section__title {
  margin-bottom: 0;
}
.section_description_contact {
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.section_description_category {
  padding: 3.625rem 0 3rem;
  background-color: #fafafa;
}
.section_middle_category {
  padding-top: 3.375rem;
}
.section_contact {
  padding: 3.75rem 0;
}
/* Contact Info */
.contact-info {
  margin-top: 2.75rem;
}
.contact-info__item {
  padding-left: 3rem;
  position: relative;
  min-height: 1.75rem;
  margin-bottom: 1.75rem;
}
.contact-info__icon {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-filter: blur(0);
  color: #494546;
  line-height: 1;
  font-size: 1.75rem;
}
.map {
  margin-bottom: 3.125rem;
  background-color: #ddd;
}
.section_gallery {
  padding-top: 3.125rem;
  padding-bottom: 0;
}
.section_gallery_furniture_2 {
  padding-bottom: 1.25rem;
}
.section_locations {
  padding: 3.75rem 0 5rem;
}
.section_bottom-text {
  padding-bottom: 3.125rem;
}
.fs_20 {
  font-size: 1.25rem;
}
/* Locations */
.locations-block {
  padding-right: 3.125rem;
}
.locations-block__item {
  margin-bottom: 1.625rem;
}
.locations-block__image > img {
  width: 100%;
}
.locations-block__content {
  display: none;
}
.locations-block__content.show {
  display: block;
}
.locations-block__title {
  font-size: 1.25rem;
  margin-top: 0.3125rem;
  font-weight: bold;
}
.locations-block__description {
  font-size: 1rem;
  font-weight: bold;
}
.locations-block__city {
  font-size: 1rem;
  margin-bottom: 0.625rem;
}
.locations-block__more {
  margin-bottom: 0.3125rem;
}
.bg-color_dark {
  background-color: #333;
}
.color_white {
  color: #FFF;
}
.padding {
  padding: 1.875rem;
}
.br {
  border-radius: 0;
}
.br_top {
  border-radius: 0 0 0 0;
}
.br_bottom {
  border-radius: 0 0 0 0;
}
.br_right {
  border-radius: 0 0 0 0;
}
.br_left {
  border-radius: 0 0 0 0;
}
.container.container_1350px {
  width: 1350px !important;
}
.border_left {
  border-left: 1px solid #000;
}
.border_right {
  border-right: 1px solid #000;
}
.middle-separator {
  position: relative;
}
.middle-separator::before {
  content: "";
  left: 50%;
  top: 0;
  bottom: 50px;
  position: absolute;
  width: 1px;
  margin-left: -1px;
  background: #000;
}
.icon_planet {
  font-size: 1.875rem;
  margin-right: 0.9375rem;
}
.search-box_mobile {
  padding: 15px;
}
.search-box_mobile input[type="text"] {
  line-height: 48px;
  height: 48px;
}
.search-box_mobile button {
  width: 100%;
}
.locations-block__image {
  margin: 2px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.3);
}
.bottom-title {
  font-size: 1.25rem;
}
.form-sent-sign::before {
  height: 300px;
  width: 300px;
  margin-bottom: 3.5rem;
  font-size: 150px;
  line-height: 290px;
  background: #eadece;
  color: #333;
  border-radius: 50%;
}
.bubble-info {
  width: 250px !important;
  height: 250px !important;
  font-family: 'Mulish', Helvetica, "Helvetica Neue", Arial, sans-serif !important;
}
.bubble-info div:nth-child(3) {
  width: auto !important;
  height: auto;
  min-height: 100%;
}
.pageInfoGmaps {
  width: 100%;
}
.pageInfoGmaps h4 {
  display: none;
}
.imgGmaps {
  float: none;
  width: 100px;
  margin-right: 0;
  display: block;
  margin-bottom: 1rem;
}
.gmaps__name {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  font-weight: bold;
}
.gmaps__description {
  font-size: 1rem;
}
form::after {
  content: "";
  display: table;
  clear: both;
}
form p::after {
  content: "";
  display: table;
  clear: both;
}
form .captcha label,
form .captcha input {
  float: left;
  width: 100%;
  font-weight: normal;
}
form .captcha .captcha_field {
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a,
form .captcha .captcha_image a {
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  height: auto;
  line-height: 2.3em;
  padding: 0 1em;
  font-family: 'Mulish', Helvetica, "Helvetica Neue", Arial, sans-serif;
  display: inline-block;
  vertical-align: middle;
  color: #494546;
  border-color: #000;
  background-color: #f3ebda;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: none;
  border-width: 1px;
  border-style: solid;
  transition: background 0.3s;
  float: left;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: 2.3em;
  margin-right: 0.25em;
}
form .captcha .recaptcha_links a:hover,
form .captcha .captcha_image a:hover,
form .captcha .recaptcha_links a:active,
form .captcha .captcha_image a:active,
form .captcha .recaptcha_links a.active,
form .captcha .captcha_image a.active {
  color: #494546;
  border-color: #000000;
  background-color: #e7d6b3;
}
form .captcha .recaptcha_links a::before,
form .captcha .captcha_image a::before {
  font-family: flexkit-icons;
  width: 100%;
  float: left;
  margin: 0;
  line-height: inherit !important;
}
form .captcha .captcha_image {
  width: 100% !important;
  height: auto !important;
  float: left;
  text-align: center;
  margin-bottom: 1em;
}
form .captcha .captcha_image br {
  display: none;
}
form .captcha .captcha_image span {
  float: left;
}
form .captcha .recaptcha_links {
  float: left;
  margin-bottom: 1em;
}
form .captcha .recaptcha_links a[href="javascript:Recaptcha.reload();"]::before {
  content: "\e093";
}
form .captcha .recaptcha_links a.recaptcha_only_if_image::before {
  content: "\e0e2";
}
form .captcha .recaptcha_links a.recaptcha_only_if_audio::before {
  content: "\e008";
}
form .captcha .recaptcha_links a.recaptcha_help::before {
  content: "\e0e3";
}
form .captcha #recaptcha_audio_play_again::before {
  content: "\e0e4";
}
form .captcha #recaptcha_audio_download::before {
  content: "\e0e1";
}
@media only screen and (max-width: 800px), only screen and (min-width: 1024px) {
  aside form .captcha .recaptcha_links {
    width: 100%;
  }
  aside form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  aside form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image span {
    width: 49%;
  }
  aside form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  aside form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  form .captcha .recaptcha_links {
    width: 100%;
  }
  form .captcha .recaptcha_links a {
    margin: 0;
    width: 32%;
  }
  form .captcha .recaptcha_links a + a {
    margin-left: 2%;
  }
  form .captcha .captcha_image span {
    width: 49%;
  }
  form .captcha .captcha_image span + br + span {
    margin-left: 2%;
  }
  form .captcha .captcha_image a {
    margin: 0;
    width: 100%;
  }
}
.tablet form .captcha .captcha_image span,
.mobile form .captcha .captcha_image span {
  width: 100%;
}
form [type="submit"] {
  display: block;
  background-color: #f3ebda;
  line-height: 1.2;
  border: 1px solid #000;
  color: #494546;
  font-size: 16px;
  padding: 15px 60px;
  margin: 30px auto 20px;
}
form .mb {
  margin-bottom: 20px;
}
form .g-recaptcha > div {
  margin: 0 auto;
}
fieldset legend {
  font-size: 1.25em;
}
fieldset.unstyled {
  padding: 0;
  border: 0;
}
fieldset.unstyled legend {
  padding: 0;
  margin-bottom: 0.45em;
  font-weight: bold;
}
label,
.label {
  display: block;
  margin-bottom: 0.25em;
}
label[for],
.label[for] {
  cursor: pointer;
}
label[class*="grid_"],
.label[class*="grid_"] {
  margin-bottom: 0;
}
.label-inline label,
.label-inline .label {
  margin-bottom: 0;
  line-height: 2.3em;
}
label.required::after,
.label.required::after {
  color: #f25f5c;
  content: ' *';
}
.notvalid {
  color: #f25f5c;
}
select,
textarea,
input {
  font-size: 16px;
  font-family: 'Mulish', Helvetica, "Helvetica Neue", Arial, sans-serif;
  border: 1px solid #595959;
  background-color: #fff;
  color: #2f2f2f;
  transition: border 0.3s;
}
select:focus,
textarea:focus,
input:focus {
  border-color: #f3ebda;
}
select.success,
textarea.success,
input.success,
select.warning,
textarea.warning,
input.warning,
select.error,
textarea.error,
input.error,
select.info,
textarea.info,
input.info {
  color: #2f2f2f;
}
select.success,
textarea.success,
input.success {
  border-color: #4fc752;
}
select.success:focus,
textarea.success:focus,
input.success:focus {
  box-shadow: 0 0 3px #4fc752 inset;
}
select.warning,
textarea.warning,
input.warning {
  border-color: #ffc159;
}
select.warning:focus,
textarea.warning:focus,
input.warning:focus {
  box-shadow: 0 0 3px #ffc159 inset;
}
select.error,
textarea.error,
input.error,
select.notvalid,
textarea.notvalid,
input.notvalid {
  border-color: #f25f5c;
}
select.error:focus,
textarea.error:focus,
input.error:focus,
select.notvalid:focus,
textarea.notvalid:focus,
input.notvalid:focus {
  box-shadow: 0 0 3px #f25f5c inset;
}
select.info,
textarea.info,
input.info {
  border-color: #28b0ed;
}
select.info:focus,
textarea.info:focus,
input.info:focus {
  box-shadow: 0 0 3px #28b0ed inset;
}
select[disabled],
textarea[disabled],
input[disabled],
[disabled] select,
[disabled] textarea,
[disabled] input,
select[disabled]:focus,
textarea[disabled]:focus,
input[disabled]:focus,
select.noedit,
textarea.noedit,
input.noedit,
select.noedit:focus,
textarea.noedit:focus,
input.noedit:focus {
  border-color: #dddddd;
  background: #eeeeee;
  color: #a2a2a2;
  cursor: not-allowed;
  box-shadow: none;
}
input,
select {
  padding: 0 20px;
  height: 80px;
  line-height: 80px;
}
textarea {
  padding: 0.5em;
  min-height: 5em;
}
textarea.resize {
  resize: vertical;
}
.forgot-password,
.retrieveFormBlock > form + a {
  float: left;
  margin-top: -37px;
}
.filed-upgrade {
  height: auto;
  position: absolute;
  z-index: -10;
  transition: none;
  opacity: 0;
}
.filed-upgrade ~ .checkbox_radio {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  font-size: 16px;
  height: calc(1em + 1px * 2);
  width: calc(1em + 1px * 2);
  line-height: 0;
  margin: 0;
  background: #fff;
  border: 1px solid #595959;
  color: transparent;
}
.filed-upgrade ~ .checkbox_radio::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 0.625em;
  height: 0.625em;
}
.filed-upgrade.error ~ .checkbox_radio {
  border-color: #f25f5c;
}
.filed-upgrade:hover ~ .checkbox_radio::before {
  background: rgba(0, 0, 0, 0.1);
}
.filed-upgrade:checked ~ .checkbox_radio {
  border-color: #4fc752;
}
.filed-upgrade:checked ~ .checkbox_radio::before {
  background: #4fc752;
}
.filed-upgrade:disabled ~ .checkbox_radio {
  background: #eeeeee !important;
  border-color: #d5d5d5 !important;
  color: transparent;
}
.filed-upgrade:disabled:checked ~ .checkbox_radio::before {
  background: #a2a2a2 !important;
}
.filed-upgrade[type="radio"] ~ .checkbox_radio,
.filed-upgrade[type="radio"] ~ .checkbox_radio::before {
  border-radius: 10em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio {
  overflow: hidden;
  position: relative;
  width: 4em;
  height: calc(1.25em + 1px * 2);
  line-height: 1.25em;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::before {
  font-size: 0.667rem;
  line-height: inherit;
  content: 'OFF';
  background: none;
  color: #f25f5c;
  position: static;
  font-family: 'Mulish', Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
  width: 50%;
  text-align: center;
  float: left;
  margin-left: 50%;
}
.filed-upgrade[type="checkbox"].switcher ~ .checkbox_radio::after {
  content: '';
  background: #f25f5c;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  border: 1px solid #fff;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50%;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::before {
  content: 'ON';
  margin-left: 0;
  color: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:checked ~ .checkbox_radio::after {
  left: 50%;
  background: #4fc752;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::before {
  color: #a2a2a2 !important;
  background: none !important;
}
.filed-upgrade[type="checkbox"].switcher:disabled ~ .checkbox_radio::after {
  background: #a2a2a2 !important;
}
.search-form [type="text"] {
  border-color: #f3ebda;
  margin-bottom: 1rem;
}
.search-form [type="submit"] {
  margin: 0;
}
.input-label {
  position: relative;
}
.input-label label {
  color: #494546;
  position: absolute;
  top: 0;
  left: 0.5em;
  z-index: 1;
  line-height: 2.3em;
  transition: all 0.2s;
}
.input-label input {
  border-width: 0 0 1px;
  box-shadow: none !important;
}
.input-label input:focus + label,
.input-label input:valid + label {
  color: #f3ebda;
  top: -0.9em;
  font-size: 0.85em;
  line-height: 1em;
}
.input-label input.success:focus + label,
.input-label input.success:valid + label {
  color: #4fc752;
}
.input-label input.warning:focus + label,
.input-label input.warning:valid + label {
  color: #ffc159;
}
.input-label input.error:focus + label,
.input-label input.error:valid + label {
  color: #f25f5c;
}
.input-label input.info:focus + label,
.input-label input.info:valid + label {
  color: #28b0ed;
}
.img_gallery {
  margin: 0.625rem 0;
  font-size: 0;
}
.img_gallery > * {
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
}
.img_gallery li {
  font-size: 1rem;
  position: relative;
  text-align: center;
  margin-bottom: 1.875rem;
  margin-left: 1%;
  margin-right: 1%;
  width: 31.33333333%;
}
@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .img_gallery li {
    width: 48%;
  }
}
@media only screen and (max-width: 800px) {
  .img_gallery li {
    width: 98%;
  }
}
.img_gallery a {
  display: block;
}
.img_gallery a img {
  width: 100%;
}
.img_gallery .image_caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: 0;
  line-height: 1.5;
  padding: 4px;
  color: #FFF;
  text-align: center;
  font-size: 0.85em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: rgba(243, 235, 218, 0.8);
}
.gallery_3-elements li {
  margin-left: 2%;
  margin-right: 0;
  width: 32%;
}
.gallery_3-elements li:nth-of-type(3n + 1) {
  margin-left: 0;
}
@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .gallery_3-elements li {
    width: 49%;
  }
  .gallery_3-elements li:nth-of-type(n) {
    margin-left: 2%;
  }
  .gallery_3-elements li:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
@media only screen and (max-width: 800px) {
  .gallery_3-elements li {
    width: 49%;
  }
  .gallery_3-elements li:nth-of-type(n) {
    margin-left: 2%;
  }
  .gallery_3-elements li:nth-of-type(2n + 1) {
    margin-left: 0;
  }
}
.gallery_4-elements li {
  margin-left: 1%;
  margin-right: 1%;
  width: 23%;
}
@media only screen and (max-width: 1024px) and (min-width: 801px) {
  .gallery_4-elements li {
    width: 48%;
  }
}
@media only screen and (max-width: 800px) {
  .gallery_4-elements li {
    width: 48%;
  }
}
.rotator {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.rotator .slide-description {
  padding: 10px 16px;
  color: #FFF;
  background: rgba(0, 0, 0, 0.005);
}
.rotator img {
  width: 100%;
}
.rotator img ~ .slide-description {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.cycle-slideshow .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  list-style: none;
}
.cycle-slideshow .slide > a.generator-links:not(:first-child),
.cycle-slideshow .slide > a.tpopup:not(:first-child) {
  position: absolute;
  top: 10px;
  left: 10px;
}
.cycle-slideshow .cycle-pager {
  position: absolute;
  top: 5px;
  right: 0;
  z-index: 20;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.cycle-slideshow .cycle-pager > * {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin: 0 3px;
  color: #FFF;
  background: #FFF;
  border-radius: 14px;
  width: 10px;
  height: 10px;
  line-height: 10px;
  font-size: 0;
}
.cycle-slideshow .cycle-pager > *::before {
  font-size: 10px;
}
.cycle-slideshow .cycle-pager > *:hover {
  background: #e7d6b3;
}
.cycle-slideshow .cycle-pager > *.cycle-pager-active {
  cursor: default;
  color: #FFF;
  background: #f3ebda;
}
.cycle-slideshow [class*="cycle-"].action-button {
  background: #f3ebda;
  color: #FFF;
  position: absolute;
  top: 50%;
  z-index: 20;
  cursor: pointer;
  margin-top: -19px;
  padding: 10px;
  box-sizing: content-box;
  width: 18px;
  height: 18px;
  line-height: 18px;
  font-size: 0;
  transition: all 0.3s;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-size: 18px;
}
.cycle-slideshow [class*="cycle-"].action-button:hover {
  background: #e7d6b3;
  color: #FFF;
}
.cycle-slideshow [class*="cycle-"].action-button::before {
  font-family: flexkit-icons;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev {
  left: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-prev::before {
  content: "\e0a9";
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next {
  right: -54px;
}
.cycle-slideshow [class*="cycle-"].action-button.cycle-next::before {
  content: "\e0a7";
}
.cycle-slideshow:hover .action-button.cycle-prev {
  left: 10px;
}
.cycle-slideshow:hover .action-button.cycle-next {
  right: 10px;
}
