<li class="locations-block__item">
    <div class="locations-block__image">
        {$page:preview}
    </div>
    <div class="locations-block__title">
        {$page:h1}
    </div>
    <div class="locations-block__description">
        {$page:teaser}
    </div>
    <div class="locations-block__city">
        {$prepop:city_{$page:id}:text:static:readonly}
    </div>
    <button class="btn locations-block__more">Apprendre plus</button>
    <ul class="locations-block__content list-">
        <li class="contact-info__item mb10px">
            <span class="contact-info__icon icon-location2"></span>
            <address class="address mb0px">
                <div class="address__item">
                    {$prepop:address_{$page:id}:text:static:readonly}
                </div>
            </address>
        </li>
        <li class="contact-info__item mb10px">
            <span class="contact-info__icon icon-phone5"></span>
            <a class="phone-link" href="tel:{$prepop:phone_{$page:id}:text:static:readonly}">
                {$prepop:phone_{$page:id}:text:static:readonly}
            </a>
        </li>
        <li class="contact-info__item mb10px">
            <span class="contact-info__icon icon-mail3"></span>
            <a class="email-link" href="mailto:{$prepop:email_{$page:id}:text:static:readonly}">
                {$prepop:email_{$page:id}:text:static:readonly}
            </a>
        </li>
        <li class="contact-info__item mb10px">
            <span class="contact-info__icon icon-earth"></span>
            <a class="email-link" href="{$prepop:website_{$page:id}:text:static:readonly}">
                {$prepop:website_{$page:id}:text:static:readonly}
            </a>
        </li>
    </ul>
</li>