<footer class="bg-footer" itemscope itemtype="http://schema.org/LocalBusiness">

    <div class="container flex-row">
        <div class="footer-box flex_3 t-flex_3 m-flex_2 mb30px t-text-right">
            {$imageonly:footer-logo:125:static}
        </div>
        <div class="footer-box flex_3 t-flex_3 m-flex_2 mb30px">
            {$menu:main:_main menu}
        </div>
        <div class="footer-box flex_3 t-flex_6 m-flex_4 t-text-center">
            <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">{$plugin:widcard:BizAddress1:notag}</span>
                <span itemprop="addressLocality">{$plugin:widcard:BizCity:notag}</span>,
                <span itemprop="postalCode">{$plugin:widcard:BizZip:notag}</span>
                <span itemprop="addressRegion">{$plugin:widcard:BizState:notag}</span>
                <meta itemprop="addressCountry" content="EN"/>
            </address>
            <p itemprop="telephone" content="{$plugin:widcard:BizTelephone:notag}">
                {$plugin:widcard:BizTelephone:notag}</p>
            <a href="mailto:{$plugin:widcard:BizEmail:notag}" itemprop="email">{$plugin:widcard:BizEmail:notag}</a>
            <div class="inline-block t-block">
                {$template:_social links}
            </div>

        </div>
        <!-- Microformats -->
        <meta itemprop="name" content="{$plugin:widcard:BizOrgName:notag}"/>
        <link itemprop="image" href="{$plugin:widcard:bizLogo:url}"/>
        <meta itemprop="priceRange" content="$$"/>
    </div>

</footer>
