<header>
    <div class="logo h1" itemscope itemtype="http://schema.org/Organization">
        <a class="logo__link" href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
            <img class="logo__image" src="{$plugin:widcard:bizLogo:url}" alt="entreprise de menuiserie et fabrication de produits du bois a vendre" width="320" itemprop="logo">
            <span itemprop="name" class="hide logo__title">{$plugin:widcard:BizOrgName:notag}</span>
        </a>
    </div>
    <div class="flex-row container container_1350px f-top t-header-container">
        <div class="f-prefix_2 flex_8 text-center">
            <div class="company-logo">
                {$imageonly:topimg:760:static}
            </div>
            <nav id="main-menu" class="d-visible">{$menu:main:_main menu}</nav>
        </div>
        <div class="flex_2 text-right d-visible">
            <p class="social-links social-links_top">
                {$template:_social links}
            </p>
            <p>
                Suivez notre actualité
            </p>
        </div>
    </div>
</header>