<!-- Top bar for mobile, with button show/hide menu -->
<div class="mobile-bar top clearfix">
    <span class="btn icon-menu" data-refer="main"></span>
    <span class="title">{$page:h1}</span>
    <span class="btn icon-search" data-refer="search"></span>
    <span class="dropdown-btn btn icon-social-media" data-refer="social"></span>
    <div class="tabs">
        <ul class="items-wrap">
            <li><a href="#">First Item</a></li>
            <li><a href="#" class="current">Second Item</a></li>
            <li><a href="#">Third Item</a></li>
            <li><a href="#">Fourth Item</a></li>
            <li><a href="#">Fifth Item</a></li>
        </ul>
    </div>
</div>

<aside class="m-menu left" data-el="main">
    <div class="menu-top-header"></div>
    {$menu:main:_main menu}
</aside>

<aside class="m-menu dropdown right top" data-el="social">
    <div class="social-links_mobile">
        {$template:_social links}
    </div>
</aside>

<aside class="m-menu dropdown right top" data-el="search">
    <div class="search-box search-box_mobile">
        {$search:form}
    </div>
</aside>

<!-- mobile loader -->
<span class="mobile-loader"></span>