<article class="news__item news-item_3-in-row">
    {$news:actions}
    <div class="news__header">
        <a href="{$news:url}" class="news__link" title="{$news:title:inline}">
            <div class="news__image background responsive-ratio _16x9 image lazyload-img" role="img" aria-label="{$news:title:inline}" data-original="{$news:preview}"></div>
        </a>
        <div class="news__tags news__tags_absolute">{$news:tags}</div>
    </div>
    <h3 class="news__title">
        <a href="{$news:url}" class="color_inherit">
            {$news:title}
        </a>
    </h3>
    <time class="news__date icon-calendar2" datetime="{$news:publishat:Y-m-d}">{$news:publishat: M d, Y}</time>
    <div class="news__description">{$news:teaser}</div>
    <a class="btn news__btn" href="{$news:url}">Lire plus</a>
</article>