<div class="swiper-slide">
    <div class="news__item br">
        {$news:actions}
        <div class="news__header">
            <a href="{$news:url}" class="news__link" title="{$news:title:inline}">
                <div class="news__image background responsive-ratio br_top _16x9 image lazyload-img" role="img" aria-label="{$news:title:inline}" data-original="{$news:preview}"></div>
            </a>
            <div class="news__tags news__tags_absolute">{$news:tags}</div>
        </div>
        <div class="news__content br_bottom">
            <h4 class="news__title">
                <a href="{$news:url}" class="color_inherit">
                    {$news:title}
                </a>
            </h4>
            <time class="news__date icon-calendar2" datetime="{$news:publishat:Y-m-d}">{$news:publishat: M d, Y}</time>
            <div class="news__description mb0px">{$news:teaser}</div>
        </div>
    </div>
</div>