<!-- SCRIPTS ZONE -->
<!--<script src="js/scripts.min.js"></script>-->
<script src="js/system/flexkit.min.js"></script>
{$pwa:sw}
{$plugin:notifier:subscribe}
<!-- smtp -->
{$plugin:smtpverification:verify}