<div class="flex-row">

    <p class="flex_12 f-alpha f-omega t-flex_3 t-alpha m-flex_3 m-alpha">Qui sommes-nous… du bois, des hommes et des femmes…</p>

    <p class="flex_12 f-alpha f-omega t-flex_3 t-omega m-flex_1 m-omega">
        <img src="http://manufacturedegascognefr.seosalsa.com/media/content/original/pefc-fsc.jpg"
             alt="pefc fsc"
             width="197"
             height="115"
             border="0"
        />
    </p>

    <p class="flex_12 f-alpha f-omega t-flex_3 t-alpha m-flex_3 m-alpha">Notre expertise, le travail du bois…bois exclusivement origine France, issu de forêts certifiées PEFC, afin de
        privilégier l’emploi local, durable et les circuits courts.
    </p>

    <p class="flex_12 f-alpha f-omega t-flex_3 t-omega m-flex_1 m-omega">
        <img src="http://manufacturedegascognefr.seosalsa.com/media/content/original/france.jpg"
             alt="france"
             width="199"
             height="179"
             border="0"
        />
    </p>

    <p class="flex_12 f-alpha f-omega t-flex_3 t-alpha m-flex_3 m-alpha">Nous assurons la fabrication et la pose selon vos besoins. (garantie décennale)</p>

    <p class="flex_12 f-alpha f-omega t-flex_3 t-omega m-flex_1 m-omega">
        <img src="http://manufacturedegascognefr.seosalsa.com/media/content/original/naturel.jpg"
             alt="naturel"
             width="197"
             height="162"
             border="0"
        />
    </p>

</div>

