@responsive-size-tablet-over: (@responsive-size-tablet + 1);
@media only screen and (min-width: @responsive-size-tablet-over) {
    .d-hide, .t-visible, .m-visible {
        display: none !important;
    }
}

@responsive-size-mobile-over: (@responsive-size-mobile + 1);
@media only screen and (min-width: @responsive-size-mobile-over) and (max-width: @responsive-size-tablet) {
    .t-hide, .d-visible, .m-visible {
        display: none !important;
    }
}

@media only screen and (max-width: @responsive-size-mobile) {
    .m-hide, .d-visible, .t-visible {
        display: none !important;
    }
}

//================================================\\
//************** Divece orientation **************\\
//================================================\\
@media only screen and (orientation: portrait) {
}

@media only screen and (orientation: landscape) {
}

//================================================\\
//*************** Divece screen size *************\\
//================================================\\

//***** Bigger than Desktop site size *****\\
@responsive-size-desktop-above: (@responsive-size-desktop + 1);
@media only screen and (min-width: @responsive-size-desktop-above) {
}

//***** Tablet Portrait *****\\
@media only screen and (max-width: @responsive-size-desktop) {
    html{
        font-size: 16px;
    }
}

//***** All Mobile Sizes *****\\
@media only screen and (max-width: @responsive-size-tablet) {
    
    html{
        font-size: 14px;
    }
    
    .t-header-container {
        padding-left: 23%;
        .company-logo {
            padding-top: (25/@fs)*1rem;
        }
    }
    
    .t-text-center {
        text-align: center;
    }
    
    .t-text-left {
        text-align: left;
    }
    
    .t-text-right {
        text-align: right;
    }
    
    .t-block {
        display: block;
    }
    
    .company-logo {
        margin-bottom: (10/@fs)*1rem;
    }
}

//***** Just Mobile Landscape *****\\
@media only screen and (max-width: @responsive-size-tablet) and (orientation: landscape) {

}

//***** Just Mobile Portrait *****\\
@media only screen and (max-width: @responsive-size-mobile) {
    
    .captcha {
        &, img {
            width: 100%;
        }
    }
    
    img[style*="float: left"], img[style*="float:left"], img[style*="float: right"], img[style*="float:right"] {
        float: none !important;
        display: block;
        margin: 0 auto 1rem;
    }
    
    form [type="submit"], form [type="button"] {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
    
    .m-text-center {
        text-align: center;
    }
    
    .m-text-left {
        text-align: left;
    }
    
    .m-text-right {
        text-align: right;
    }
    
    .middle-separator {
        &::before {
            display: none;
        }
    }
    
    .locations-block {
        padding-right: 0;
        text-align: center;
    }
    
}

//***** Just Small Phone *****\\
@media only screen and (max-width: @responsive-size-phone) {
    
    .news-item_3-in-row {
        width: 100%;
    }
    
}

//================================================\\
//************** Device pixel ratio **************\\
//================================================\\
@media screen and (-webkit-min-device-pixel-ratio: 1.3) {

}

@media screen and (-webkit-min-device-pixel-ratio: 1.5) {

}

@media screen and (-webkit-min-device-pixel-ratio: 2) {

}

@import "../mobile/loader";