.img_gallery when (@image-gallery) {
    margin: (10/@fs)*1rem 0;
    font-size: 0;
    .inline-block-wrap();

    li {
        font-size: 1rem;
        position: relative;
        text-align: center;

        margin-bottom: (30/@fs)*1rem;
        .grid-elements(3; @grid-margin-width; false);
    }

    a {
        display: block;
        img {
            width: 100%;
        }
    }

    .image_caption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        margin: 0;
        line-height: @line-height;
        padding: @padding-small-vertical;
        color: @thumbnail-caption-color;
        text-align: center;
        font-size: @font-size-small;
        .text-overflow;
        .rgba(@thumbnail-caption-bg; @thumbnail-caption-opacity);
    }
}

.gallery_3-elements{
    li {
        .grid-elements(3; @grid-margin-width; true; 2; 2);
    }
}

.gallery_4-elements{
    li {
        .grid-elements(4; @grid-margin-width; false; 2; 2);
    }
}