.news-list {

}

.news {
    padding: 0;
    margin: 0;
    .inline-block-wrap(top);
    
    & > .tpopup {
        display: none;
    }
}

.news__header {
    position: relative;
}

.news__title {
    margin-bottom: 0.5rem;
}

.news__image {

}

.news__item {
    position: relative;
    vertical-align: top;
    margin-bottom: (30/@fs)*1rem;
}

.news__item_popular {
    border: @hr-size solid @hr-color;
    border-radius: @button-border-radius;
}

.news-item_3-in-row {
    .grid-elements(3; @grid-margin-width; true; 2; 2);
}

.news__content {
    border: @hr-size solid @hr-color;
    border-radius: 0 0 @button-border-radius @button-border-radius;
    padding: 30px;
}

.news__content_popular {
    border: none;
    border-radius: 0;
}

.news__date {
    display: block;
    margin-bottom: 0.5rem;
    color: @heading-color;
    &::before {
        margin-top: -4px;
        .inline-block();
        font-size: 14px;
        height: 20px;
        width: 20px;
        line-height: 20px;
        margin-right: 5px;
    }
}

.news__description {
    margin-bottom: 1rem;
}

.news__tags {
    position: relative;
    .inline-block-wrap();
    z-index: 1;
}

.news__tags_absolute {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    margin-right: -4px;
}

.newslog-tag-filter {
    color: @brand-dark;
    background-color: #f9fbfd;
    padding: .25rem .35rem;
    border-radius: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    line-height: 1.2;
    font-size: 12px;
    .transition();
    &:hover {
        background: @brand-primary;
    }
}