//	Search form
//==================================================
.search-form when (@widget-search) {
    
    [type="text"] {
        border-color: @brand-primary;
        margin-bottom: 1rem;
    }
    
    [type="submit"] {
        margin: 0;
    }
    
}