// Search Result
//==================================================
.search-results when (@widget-search) {
    
    li {
        overflow: hidden;
        padding-left: 180px;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: @hr-size solid @hr-color;
    }
    
    a {
    }
    
    .page-teaser-image {
        float: left;
        width: 150px;
        margin-left: -180px;
        img{
            border-radius: 4px;
        }
    }
    
    .page-title {
        font-size: 1.3125rem;
        font-weight: 700;
        color: #222222;
        margin-bottom: 1rem;
    }
    
    span {
    }
}