.paginator when (@componentsJS-pagination) {
    width: 100%;
    padding-top: 2rem;
    border-top: @hr-size solid @hr-color;
    .inline-block-wrap();
    
    :first-child, :last-child {
        font-weight: normal;
    }
    
    .disabled, .current, a, .paginations {
        margin: 0 0.25rem 0.25rem 0;
        .button();
    }
    
    .disabled {
        pointer-events: none;
        border-color: darken(@input-bg-disabled, 10%);
        background: @input-bg-disabled;
        color: darken(@input-bg-disabled, 30%);
    }
    
    .current {
        pointer-events: none;
        background-color: lighten(@button-primary-bg, 10%);
        border-color: lighten(@button-primary-bg, 10%);
    }
    
    .paginations, a {
    
    }
}

.paginator_off {
    .paginator {
        display: none;
    }
}