//	PAGE Style
//==================================================
body {
  // custom scroll-bar
  //.scroll-bar();
}

main {
}

#page {
}

.full-width {
  width: 100%;
  overflow: hidden;
}

//	HEADER Style
//==================================================
header {
  position: relative;
  color: @header-color;
  background-color: #f1ebe0;
  background-image: url("../images/bg-gray.jpg");
  background-size: cover;
  background-repeat: repeat;

  // -- LOGO Style
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  line-height: 1;
  width: 22%;
}

.logo__link {
  display: block;
}

.logo__image {

}

.logo__title {

}

/* Company logo */

.company-logo {
  padding-top: (50/@fs)*1rem;
  a {
    display: block;
  }

  img {

  }
}

// -- NAV Style
nav {
}

.bg-gray {
  background-color: #f5f5f5;
  background-image: url("../images/bg-gray.jpg");
  a {
    color: #444;
    font-size: (20/@fs)*1rem;
  }
}

//	CONTENT Style
//==================================================
article {
}

section {
}

// 404 page
//==================================================
.first {
  font-size: 7em;
  font-size: 7vw;
  line-height: 1;
}

//	SIDEBAR Style
//==================================================
aside {
  .aside-box {
    margin-bottom: (30/@fs)*1rem;
  }
}

//	FOOTER Style
//==================================================
.bg-footer {
  background: #f1ebe0 url("../images/footer-bg.jpg") no-repeat 50% 50%;
  background-size: cover;
}

footer {
  padding: @padding-larger-vertical * 2 0;
  background: @footer-bg;
  color: @footer-color;
  font-size: @font-size-small;

  .main_menu {
    li {
      width: 100%;
      float: none;
      a {
        font-size: (18/@fs)*1rem;
        &.current {
          border: none;
        }
      }
      &:hover {
        a {
          border: none;
        }
      }

    }
  }
}

//	Button to scroll top
//==================================================
#go-top {
  .button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.webPage-go-top {
  .button-color(#FFFFFF; fade(#000000, 50%); fade(#000000, 50%); @primary-color; @primary-bg; @primary-bg);
}

.social-links_top {
  margin-top: (10/@fs)*1rem;
  margin-bottom: 0;
}

.social-links_mobile {
  a.btn.icon {
    padding: 0 (16/@fs)*1rem;
    text-align: left;
    font-size: (18/@fs)*1rem;
    font-weight: 700;
    &[href=""] {
      display: none;
    }
    display: block;
    width: 100%;
    border-bottom: 1px solid #f7f7f7;
    &::before {
      margin-right: (16/@fs)*1rem;
      width: auto;
      font-size: (18/@fs)*1rem;
    }
  }
}

.no-image {
  & > img {
    display: none;
  }
}

.section {
  padding: (25/@fs)*1rem 0;
}

.section__title {
  color: #494546;
  font-weight: bold;
  margin-bottom: (30/@fs)*1rem;
}

.section__title_white {
  color: @primary-color !important;
  text-shadow: 1px 1px 1px #242323;
}

.section_top {
  padding: (150/@fs)*1rem 0;
  background-color: #ddd;
}

.section_description {
  padding: (50/@fs)*1rem 0 (35/@fs)*1rem;
  background-image: url(../images/bg-gray.jpg);
  background-color: #fafafa;
  p {
    & + p {
      margin-top: (30/@fs)*1rem;
    }
  }
}

.section__header_bg {
  padding: (26/@fs)*1rem 0;
  background: url(../images/bg-gray.jpg);
  .section__title {
    margin-bottom: 0;
  }
}

.section_description_contact {
  padding-top: (25/@fs)*1rem;
  padding-bottom: (25/@fs)*1rem;
}

.section_description_category {
  padding: (58/@fs)*1rem 0 (48/@fs)*1rem;
  background-color: #fafafa;
}

.section_middle_category {
  padding-top: (54/@fs)*1rem;
}

.section_contact {
  padding: (60/@fs)*1rem 0;
}

/* Contact Info */

.contact-info {
  margin-top: (44/@fs)*1rem;
}

.contact-info__item {
  padding-left: (48/@fs)*1rem;
  position: relative;
  min-height: (28/@fs)*1rem;
  margin-bottom: (28/@fs)*1rem;
}

.contact-info__icon {
  position: absolute;
  left: 0;
  top: 50%;
  .translate(0; -50%);
  color: #494546;
  line-height: 1;
  font-size: (28/@fs)*1rem;
}

.map {
  margin-bottom: (50/@fs)*1rem;
  background-color: #ddd;
}

.section_gallery {
  padding-top: (50/@fs)*1rem;
  padding-bottom: 0;
}

.section_gallery_furniture_2 {
  padding-bottom: (20/@fs)*1rem;
}

.section_locations {
  padding: (60/@fs)*1rem 0 (80/@fs)*1rem;
}

.section_bottom-text {
  padding-bottom: (50/@fs)*1rem;
}

.fs_20 {
  font-size: (20/@fs)*1rem;
}

/* Locations */

.locations-block {
  padding-right: (50/@fs)*1rem;
}

.locations-block__list {

}

.locations-block__item {
  margin-bottom: (26/@fs)*1rem;
}

.locations-block__image > img {
  width: 100%;
}

.locations-block__content {
  display: none;
  &.show {
    display: block;
  }
}

.locations-block__title {
  font-size: (20/@fs)*1rem;
  margin-top: (5/@fs)*1rem;
  font-weight: bold;
}

.locations-block__description {
  font-size: (16/@fs)*1rem;
  font-weight: bold;
}

.locations-block__city {
  font-size: (16/@fs)*1rem;
  margin-bottom: (10/@fs)*1rem;
}

.locations-block__more {
  margin-bottom: (5/@fs)*1rem;
}

.bg-color_dark {
  background-color: #333;
}

.color_white {
  color: @primary-color;
}

.padding {
  padding: 1.875rem;
}

@border-radius: 0;

.br {
  border-radius: @border-radius;
}

.br_top {
  border-radius: @border-radius @border-radius 0 0;
}

.br_bottom {
  border-radius: 0 0 @border-radius @border-radius;
}

.br_right {
  border-radius: 0 @border-radius @border-radius 0;
}

.br_left {
  border-radius: @border-radius 0 0 @border-radius;
}

.container {
  &.container_1350px {
    width: 1350px !important;
  }
}

.border_left {
  border-left: 1px solid #000;
}

.border_right {
  border-right: 1px solid #000;
}

.middle-separator {
  position: relative;
  &::before {
    content: "";
    left: 50%;
    top: 0;
    bottom: 50px;
    position: absolute;
    width: 1px;
    margin-left: -1px;
    background: #000;
  }
}

.icon_planet {
  font-size: (30/@fs)*1rem;
  margin-right: (15/@fs)*1rem;
}

.search-box_mobile {
  padding: 15px;
  input[type="text"] {
    line-height: 48px;
    height: 48px;
  }
  button {
    width: 100%;
  }
}

.locations-block__image {
  margin: 2px;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.3);
}

.bottom-title {
  font-size: 1.25rem;
}

//	Thank you page
//==================================================
.form-sent-sign::before {
  height: 300px;
  width: 300px;
  margin-bottom: 3.5rem;
  font-size: 150px;
  line-height: 290px;
  background: #eadece;
  color: #333;
  border-radius: 50%;
}

.bubble-info {
  width: 250px !important;
  height: 250px !important;
  font-family: 'Mulish', Helvetica, "Helvetica Neue", Arial, sans-serif !important;
  div {
    &:nth-child(3) {
      width: auto !important;
      height: auto;
      min-height: 100%;
    }
  }
}

.pageInfoGmaps {
  width: 100%;
  h4 {
    display: none;
  }
}

.imgGmaps {
  float: none;
  width: 100px;
  margin-right: 0;
  display: block;
  margin-bottom: 1rem;
}

.gmaps__name {
  font-size: 1.25rem;
  margin-bottom: 0.625rem;
  font-weight: bold;
}

.gmaps__description {
  font-size: 1rem;
}