// Table of Content
//==================================================
//	Links
//	Heading
//	Blockquotes
//  Toaster icon
//  Custom classes
//==================================================

// Links
//==================================================
a {
    color: #494546;
    text-decoration: none;
    
    &:visited when not(@link-color-visited = none) {
        color: @link-color-visited;
    }
    
    &:hover {
        color: @link-color-hover
    }
    
    &:active {
        color: @link-color-active;
    }
}

// Heading
//==================================================
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    color: @heading-color;
    font-family: @font-family-headings;
    & when not(@heading-weight = bold) and not (@heading-weight = 700) {
        font-weight: @heading-weight;
    }
    
    &:first-child:not(.logo) {
        margin-top: 0;
    }
    
    & when (@componentsJS) and (@widget-rotator) {
        .slide .slide-description & {
            color: @slider-heading-color;
        }
    }
    
    & when not(@footer-heading-color = @heading-color) {
        footer & {
            color: @footer-heading-color;
        }
    }
    
    &:empty {
        display: none;
    }
    & when (@heading-color = #fff) {
        #tinymce & {
            color: #000;
        }
    }
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    & when (@heading-weight = bold) or (@heading-weight = 700) {
        font-weight: @heading-weight;
    }
}

h1, .h1 {
    font-size: 2.25em;
}

h2, .h2 {
    font-size: 1.75em;
}

h3, .h3 {
    font-size: 1.25em;
}

h4, .h4 {
    font-size: 1em;
}

h5, .h5 {
    font-size: 0.875em;
}

h6, .h6 {
    font-size: 0.75em;
}

.subtitle {
    color: @subheading-color;
    font-size: @font-size-mini;
}

p {
    margin-top: 0;
    margin-bottom: 15px;
}

address {
    margin-bottom: 20px;
    font-style: normal;
}

.mb50px {
    margin-bottom: 50px !important;
}

.pb50px {
    padding-bottom: 50px !important;
}

.pt60px {
    padding-top: 50px !important;
}

.pt50px {
    padding-top: 50px !important;
}

.pb40px {
    padding-bottom: 40px !important;
}

.pt40px {
    padding-top: 40px !important;
}

.link_underline {
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}